html {
    background-color: azure;
}

body {
    margin: 0;
}

h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
    z-index: 0;
}

.container {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "tl tm tr"
    "ml mm mr"
    "bl bm br";
}

.squareDiv {
    background-color: #e6f2ff;
    border: solid 1px black;
    padding: 20px;
    font-size: 50px;
}

.squareDiv:hover {
  background-color: #cce5ff;
}

[id='0'] {
    grid-area: tl;
}

[id='1'] {
    grid-area: tm;
}

[id='2'] {
    grid-area: tr;
}

[id='3'] {
    grid-area: ml;
}

[id='4'] {
    grid-area: mm;
}

[id='5'] {
    grid-area: mr;
}

[id='6'] {
    grid-area: bl;
}

[id='7'] {
    grid-area: bm;
}

[id='8'] {
    grid-area: br;
}

.modal {
  display: none;
  position : absolute;
  width : 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.modal-content {
  position: relative;
  text-align: center;
}

.announceWinner {
  color: whitesmoke;
  font-size: 80px;
  text-shadow: 5px 10px 8px #888888;
}

.replayBtn {
  width: 180px;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;

}